/* ==============================
 *         Base HTML
 * ==============================*/
html {
	box-sizing: border-box;
	font: 'Arial';
}


/* ==============================
 *         Utility
 * ==============================*/

.hidden {
	display: none
}

.clearfix {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.priority-high {
	color: red;
}

.priority-med {
	color: orange;
}

.priority-low {
	color: blue;
}

.priority-none {
	color: gray;
}

.priority-selected {
	border: 2px solid black;
}


/* ==============================
 *       Job Components
 * ==============================*/

.jobs-title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.jobs-search-component {
	text-align: center;
}

.jobs-filtered {
	margin-left: 10px;
}


.job-item {
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid gray;
}

.job-selected {
	border: 1px solid green;
}

.job-title {
	font-weight: bold;
}

.job-date {
	font-style: italic;
}

.job-desc {
}

